.innerEnd1{
    min-height: 400px;
    padding: 50px;
    background-color: rgb(23, 116, 170);
    font-family: arial;
}

.innerEnd2{
    min-height: 400px;
    padding: 50px;
    background-color: rgb(19, 91, 133);
    font-family: arial;
}

.innerEnd3{
    min-height: 50px;
    padding: 50px;
    background-color: rgb(19, 91, 133);
    font-family: arial;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 20px 20px 0;
    box-sizing: border-box;
    background-color: rgb(23, 116, 170);
    border: none;
    color: #fff;
}

textarea {
    width: 100%;
    padding: 12px 20px 80px;
    margin: 10px 0 50px;
    box-sizing: border-box;
    background-color: rgb(23, 116, 170);
    border: none;
    color: #fff;
}

.info {
    border-top: 1px solid rgb(23, 116, 170);
    padding: 50px;
    color: #fff;
}

.info_title {
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 20px;
}

.logo {
    word-spacing: 20px;
    font-size:24px;
}

.fa:hover{
    color: rgb(84, 183, 240);
    transition: color 0.3s;
} 

.d-flex {
    display: flex;
}

span {
    margin-left:40px;
}

.linkas1 a{
    color: rgb(23, 116, 170);
    background-color: #fff;;
    text-decoration: none;
    padding: 10px;
}

.linkas1 a:hover {
    background-color: rgba(84, 183, 240);
    color: #fff;
    transition: color 0.3s;
    border: none;
}