/* ipad */
@media screen and (min-width: 768px){
    .container {
        display: flex;
    }

    .back1, .back2, .back3, .back4, .back5, .back6{
        width: 50%;
    }
}

/* ipad pro, pc */
@media screen and (min-width: 1024px){
    .container {
        display: flex;
    }

    .back1, .back4, .back5 {
        width: 70%;
    }
    .back2, .back3, .back6 {
        width: 30%;
    }

    .in_row{
        display: flex;
    }

    .together, .together2 {
        width: 150%;
    }

    .together {
        margin-right: 15px;
    }
    .together2 {
        margin-left: 15px;
    }

    .innerEnd2 {
        width: 50%
    }

}