.container {
    background-size: cover;
    font-family: arial;
}

.titleShort {
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    margin-top: 10%;
    margin-right: 50%;
}

.back1 {
    background-image: url("https://www.vietnamtravel.co/wp-content/uploads/2016/02/Longan-orchard-near-Vinh-Tuy-Bridge3.jpg");
    background-position: bottom;
}
.inner1{
    min-height: 400px;
    padding: 50px;
    background-color: rgba(168, 163, 82, 0.7);
}

.inner1:hover{
    background-color: rgba(168, 163, 82, 0.2);
    transition: background-color 1s;
} 

.back2 {
    background-image: url("http://st.gde-fon.com/wallpapers_original/467468_avstraliya_nochnye-goroda_nebo_shtat_6000x3000_www.Gde-Fon.com.jpg");
}

.inner2{
    min-height: 400px;
    padding: 50px;
    background-color: rgba(69, 45, 109, 0.7);
}

.inner2:hover{
    background-color: rgba(69, 45, 109, 0.2);
    transition: background-color 1s;
} 

.back3 {
    background-image: url("https://www.rspcansw.org.au/wp-content/uploads/2017/08/96_a-feature_cat-care_mobile.jpg");  
    background-position: center;
}

.inner3{
    min-height: 400px;
    padding: 50px;
    background-color: rgba(109, 65, 29, 0.7);
}

.inner3:hover{
    background-color: rgba(109, 65, 29, 0.1);
    transition: background-color 1s;
} 

.back4 {
    background-image: url("https://www.designyourway.net/drb/wp-content/uploads/2017/04/Nature-Wallpaper-Desktop-Background-97-1-1600x900.jpg");  
}

.inner4{
    min-height: 400px;
    padding: 50px;
    background-color: rgba(24, 80, 19, 0.7);
}

.inner4:hover{
    background-color: rgba(24, 80, 19, 0.2);
    transition: background-color 1s;
} 

.back5 {
    background-image: url("https://2.bp.blogspot.com/-OgvoAGcOGOk/VTZWqdsLcII/AAAAAAAAUE8/InwWrI1tRQQ/s1600/Bald%2BEagle.jpg");  
    background-position: bottom;
}

.inner5{
    min-height: 400px;
    padding: 50px;
    background-color: rgba(83, 114, 133, 0.7);
}

.inner5:hover{
    background-color: rgba(83, 114, 133, 0.2);
    transition: background-color 1s;
} 

.back6 {
    background-image: url("https://handluggageonly.co.uk/wp-content/uploads/2015/10/Unusual-Things-To-Do-In-London-9.jpg");  
    background-position: bottom;
}

.inner6{
    min-height: 400px;
    padding: 50px;
    background-color: rgba(97, 30, 30, 0.7);
}

.inner6:hover{
    background-color: rgba(97, 30, 30, 0.2);
    transition: background-color 1s;
} 