header {
    background-size: cover;
    background-image: url("https://i.pinimg.com/originals/21/51/a6/2151a625bb5fbb2846df7c69421594cd.jpg");
    font-family: arial;
}

.inner{
    min-height: 400px;
    padding: 50px;
    background-color: rgba(23, 116, 170, 0.8);
}

.icon {
    top: 6px;
    position: relative;
}

.title {
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    margin-top: 10%;
}

.subtitle {
    color: #fff;
    padding-bottom: 10px;
    margin-right: 20px;
    line-height: 25px;
}

.linkas a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #fff;
    font-family: arial;
}

.linkas a:hover {
    color: rgb(84, 183, 240);
    transition: color 0.3s;
    border: 1px solid rgb(84, 183, 240);
}